<card class="card cards">
    <div class="card-body" id="calendario">
    </div>
</card>

@section Scripts{
    <link rel="stylesheet" href="~/css/Calendario.css"/>

    <script>
        $('#calendario').load('/_Calendario/_CalendarioPartial');
    </script>
}