<card class="card cards">
    <div class="card-body" id="calendario">
    </div>
</card>

<button onclick="AbrirModal()">Abrir modal</button>

<!--Modal Iniciar Sesion-->
<div class="modal fade" id="ModalReservacion">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 900px; left: calc((100% - 900px) / 2);">
            <div id="FormReservacion"></div>
        </div>
    </div>
</div>

@section Scripts{
<link rel="stylesheet" href="~/css/Calendario.css"/>
<link rel="stylesheet" href="~/css/_DatePicker.css"/>
<script src="~/js/_DatePicker.js"></script>
<script src="~/js/_FormReservacion.js"></script>
<script src="~/js/_FormUsuario.js"></script>
<script src="~/js/Reservaciones.js"></script>

<script>
$('#calendario').load('/_Calendario/_CalendarioPartial');
$('#FormReservacion').load('/_FormReservacion/_FormReservacionPartial');

</script>
}