@model ComputacionFCQ_MVC.Models.Usuario

<div style="color:gray; margin-bottom:15px; width:100%;">
    Matricula
    <div style="display:flex;">
        <input asp-for="Matricula" id="matricula" type="number" class="form-control" style="width:50%; margin-right:15px"/>   

        <button class="flex btn btn-primary" style="width:50%" onclick="_FormUsuario_BuscarUsuario($('#matricula').val())">
            <i class="bi bi-search" style="font-size: 14px; margin-right: 7px;"></i>
            Buscar datos
        </button>
    </div>
</div>

<div style="color:gray; margin-bottom:15px; display:flex; width:100%;">
    <div style="width:50%; margin-right:15px;">
        Nombre(s)
        <input asp-for="Nombre" id="nombre" type="text" class="form-control" style="width:100%; margin-right:15px;"/>
    </div>

    <div style="width:50%;">
        Apellidos
        <input asp-for="Apellidos" id="apellidos" type="text" class="form-control" style="width:100%; margin-right:15px;"/>
    </div>
</div>

<div style="width:100%; color:gray; margin-bottom:15px;" id="dropdown">
    Carrera/Coordinación
    <div>
        <select asp-for="CarreraId" asp-items="Model.Carreras" id="carrera" class="input" style="width:100%; height:35px;"></select>
    </div>
</div>

<div style="width:100%; color:gray; margin-bottom:15px;">
    Correo institucional
    <input asp-for="Correo" id="correo" type="email" style="width:100%" class="form-control" />
</div>

<div style="display:flex;">
    <a style="margin-right: 10px; color:gray">Tipo de usuario:</a>

    <input id="rad_alumno" type="radio" name="tipo" value="@Model.EsAlumno" checked="checked" style="margin-right:3px;"/>
    <a style="margin-right:10px;">Alumno</a>

    <input id="rad_docente" type="radio" name="tipo" value="@Model.EsAlumno" style="margin-right:3px;"/>
    <a style="margin-right:10px;">Docente</a>
</div>

<script>
function _FormUsuario_BuscarUsuario(id){
    $.ajax({
        url: '/_FormUsuario/BuscarUsuario',
        data: { matricula: id },
        type: "GET",
        success: function (response) {
            if (response["responseText"]==null) {
                $('#nombre').val(response["nombre"])
                $('#apellidos').val(response["apellidos"])
                $('#correo').val(response["correo"])
                $('#carrera').prop("selectedIndex",response["carrera_id"]-1)   

                if(response["es_alumno"]==true)
                    $('#rad_alumno').prop("checked", true);
                else
                    $('#rad_docente').prop("checked", true);
            }
            else {
                alert(response["responseText"]);
            }
        }
    });
}
</script>