<div style="color:gray; margin-bottom:15px; width:100%;">
    Matricula
    <div style="display:flex;">
        <input type="number" class="form-control" style="width:50%; margin-right:15px;"/>

        <button class="flex btn btn-primary" style="width:50%">
            <i class="bi bi-search" style="font-size: 14px; margin-right: 7px;"></i>
            Buscar datos
        </button>
    </div>
</div>

<div style="color:gray; margin-bottom:15px; display:flex; width:100%;">
    <div style="width:50%; margin-right:15px;">
        Nombre(s)
        <input type="text" class="form-control" style="width:100%; margin-right:15px;"/>
    </div>

    <div style="width:50%;">
        Apellidos
        <input type="text" class="form-control" style="width:100%; margin-right:15px;"/>
    </div>
</div>

<div style="width:100%; color:gray; margin-bottom:15px;" id="dropdown">
    Carrera/Coordinación
    <div>
        <select class="input" style="width:100%; height:35px;">
            <option>Ingeniero Industrial Administrador</option>
            <option>Ingeniero Químico</option>
            <option>Ingeniería Ambiental</option>
            <option>Licenciado en Química Industrial</option>
            <option>Químico Farmacéutico Biólogo</option>
            <option>Externo</option>
        </select>
    </div>
</div>

<div style="width:100%; color:gray; margin-bottom:15px;">
    Correo institucional
    <input type="email" style="width:100%" class="form-control" />
</div>

<div style="display:flex;">
    <a style="margin-right: 10px; color:gray">Tipo de usuario:</a>

    <input type="radio" name="tipo" checked="" style="margin-right:3px;"/>
    <a style="margin-right:10px;">Alumno</a>

    <input type="radio" name="tipo" style="margin-right:3px;"/>
    <a style="margin-right:10px;">Docente</a>
</div>